:root {
  --main-bg-color: #1f1f1f;
  --main-fg-color: #e9e9e9;
  --card-bg-color: #282c34;
  --link-fg-color: #2f9df7;
}



* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: Geneva, 'Lucida Sans', Verdana, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

  body {
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--main-bg-color);
  }

    .main-container {
      display: flex;
      flex-direction: column;
    }

      .main-header {
        background-color: var(--main-bg-color);
        color: var(--main-fg-color);
        position: sticky;
        top: 0;
        padding: 1.5rem 0;
      }

        .main-page-title {
          text-align: center;
          font-size: 1.5rem;
        }

        .nav-menu {
          background-color: var(--main-bg-color);
          margin-top: 0.5rem;
        }

          .menu-container {
            list-style-type: none;
            display: flex;
            justify-content: center;
          }

            .menu-item {
              padding: 1% 3%;
            }

              .menu-item a {
                text-decoration: none;
                color: darkgoldenrod;
              }

      main {
        border-radius: 5px;
        background-color: cornsilk;
      }

        .topic-card {
          background-color: var(--main-bg-color);
          color: var(--main-fg-color);
          border-radius: 5px;
          margin: 5%;
          padding: 5%;
          font-size: 0.9rem;
        }

        .topic-card h1 {
          text-align: center;
        }

        .subtopic-card {
          background-color: var(--card-bg-color);
          color: var(--main-fg-color);
          border-radius: 5px;
          margin: 5% 0;
          font-size: 0.9rem;
          padding: 5%;
          padding-top: 2%;
          font-family: monospace;
        }

          .subtopic-card h2 {
            margin-top: 5%;
          }

          .subtopic-content {
            margin: 3% 0;
          }

          .caniuse a {
            color: var(--link-fg-color);
            text-decoration: none;
          }

      .main-footer {
        background-color: var(--main-bg-color);
        color: var(--main-fg-color);
        text-align: center;
        font-size: 1.3rem;
        padding-top: 5%;
        padding-bottom: 3%;
      }


@media only screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 800px) {
  html {
    font-size: 16px;
  }
}